/.env.local
/.env.*.local
/var/cache/*
/var/logs/*
/vendor/
.coverage/*
coverage/*
build
composer.lock

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/build/*
/tests/coverage/*
###< phpunit/phpunit ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###
