/.idea/*
/.env
/.env.local
/.env.*.local
/var/cache/*
/var/logs/*
/vendor/
/front-landing/*
!/front-landing/.gitkeep

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/build/*
/.coverage/*
###< phpunit/phpunit ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###
